<div class="div">
  <div class="center">
    <img
      width="80"
      height="80"
      src="https://img.icons8.com/sf-black-filled/64/3f2182/quote-left.png"
      alt="quote-left"
    />
    <p class="recension">
      Functional tool with lots of flexible solutions for your <br />business. I
      can’t recommend it enough. It has helped my <br />
      business tremendously!
    </p>
    <img
      src="https://media.istockphoto.com/id/1437816897/it/foto/ritratto-di-donna-daffari-manager-o-risorse-umane-per-il-successo-professionale-azienda-che.webp?b=1&s=170667a&w=0&k=20&c=p4Nx_izWqJl_wkwSC9DCdk4nobJE1ySoZk5ocwycTfg="
      alt="foto"
      width="200"
      height="200"
    />
    <p>
      <b>Olivia Wilson</b>
      <br />
      Founder of Borcelle
    </p>
  </div>
</div>
