<div class="sect-container">
  <h1>Reasons to choose Wardiere Inc.</h1>
  <div class="solution">
    <div class="cards" *ngFor="let reason of reasons">
      <p class="num">{{ reason.num }}</p>
      <h2>{{ reason.title }}</h2>
      <p>{{ reason.testo }}</p>
    </div>
  </div>
  <button>
    Sign up
    <div class="btn">
      <img
        width="35"
        height="35"
        src="https://img.icons8.com/ios-filled/50/000000/circled-right-2.png"
        alt="circled-right-2"
      />
    </div>
  </button>
</div>
