<div class="nav">
  <div class="container-logo">
    <img src="assets/img/logo.png" alt="logo" />
    <h2 routerLink="">Wardiere Inc.</h2>
  </div>
  <div class="list-link">
    <ul>
      <li><a routerLink="solutions">Solutions</a></li>
      <li><a routerLink="pricing">Pricing</a></li>
      <li><a routerLink="about">About</a></li>
    </ul>
  </div>
  <button>
    Sign up<img
      width="20"
      height="20"
      src="https://img.icons8.com/windows/32/000000/long-arrow-right.png"
      alt="long-arrow-right"
    />
  </button>
</div>
