<div class="nav">
  <div class="container-logo">
    <img src="assets/img/logo.png" alt="logo" />
    <a class="nav-brand" routerLink="">Wardiere Inc.</a>
  </div>
  <div>
    <ul class="nav-menu" #navMenu>
      <li class="nav-item">
        <a class="nav-link" routerLink="solutions">Solutions</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="pricing">Pricing</a>
      </li>
      <li class="nav-item"><a class="nav-link" routerLink="about">About</a></li>
    </ul>
    <div class="hamburger" #hamburger>
      <span class="bar"></span>
      <span class="bar"></span>
      <span class="bar"></span>
    </div>
  </div>
  <button>
    Sign up<img
      width="20"
      height="20"
      src="https://img.icons8.com/windows/32/000000/long-arrow-right.png"
      alt="long-arrow-right"
    />
  </button>
</div>
