.div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(135deg, #13072e, #3f2182);
  width: 80%;
  max-width: 1200px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  min-height: 500px;
  flex: 1;
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.recension {
  font-size: 20px;
  text-align: center;
  color: #ffffff;
}

img {
  border-radius: 50%;
  object-fit: cover;
}

b {
  color: #ffffff;
  font-size: 14px;
}

p {
  color: #b3aaff;
  font-size: 14px;
  text-align: center;
}
