.div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}
.center {
  display: flex;
  align-items: center;
  background: linear-gradient(135deg, #13072e, #3f2182);
  width: 80%;
  max-width: 1200px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  min-height: 500px;
  flex: 1;
}

.left .tag {
  font-size: 14px;
  background-color: #b3aaff;
  color: #13072e;
  border-radius: 20px;
  padding: 2px;
  text-align: center;
  width: 30%;
}
.left h1 {
  font-size: 24px;
}

.left p {
  font-size: 16px;
  width: 40%;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  color: #fff;
  width: 50%;
  margin-left: 50px;
}

button {
  cursor: pointer;
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 15px;
  background-color: #ffffff;
  color: #13072e;
  font-size: 15px;
  border-radius: 20px;
  width: 200px;
  height: 40px;
}

.btn {
  display: flex;
}

.pc-img {
  width: 800px;
  max-width: 1300px;
}
