<div class="div">
  <div class="center">
    <div class="left">
      <p class="tag">#flexiblesolutions</p>
      <h1>Flexible Solutions for <br />Your Business</h1>
      <p>
        Lorem ipsum praesent ac massa at ligula reet﻿ est iaculis. Vivamus est
        mist aliquet elit ac nisl. Lorem ipsum praesent ac massa at ligula reet
        est iaculis. Vivamus est mist.
      </p>
      <button>
        Start free today
        <div class="btn">
          <img
            width="32"
            height="32"
            src="https://img.icons8.com/ios-filled/50/000000/circled-right-2.png"
            alt="circled-right-2"
          />
        </div>
      </button>
    </div>
    <img src="assets/img/pc2.png" alt="pc" class="pc-img" />
  </div>
</div>
