nav {
  background-color: #f6f4f3;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 80px;
}

.brand {
  display: flex;
  align-items: center;
}
.navbar-brand {
  color: #31241e;
  font-size: 23.1px;
  text-decoration: none;
}

.navbar-nav {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-link {
  color: #86654b;
  font-size: 12px;
  text-decoration: none;
}
.nav-item:first-child {
  font-size: 16px;
  font-weight: bold;
  color: #86654b;
}

.hr {
  display: flex;
  width: 100%;
  justify-content: center;
  border-radius: 5px;
  height: 5px;
  background-color: #31241e;
}

.container-lg {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #8c817b;
}

.container-lg img {
  z-index: 0;
}

h1 {
  z-index: 1;
  color: #31241e;
  font-size: 25px;
}
